.auth {
  /* margin-right: 10px; */

  @media (width <= 524px) {
    display: flex;
    flex-direction: column;
  }

  .profile-pic {
    width: 35px;
    margin-right: 20px;

    @media (width <= 768px) {
      margin-right: 40px;
    }
  }

  .auth-link-wrapper {
    border: none;
    background-color: var(--marvel-gray-color);
    cursor: pointer;

    &:hover {
      background-color: grey;
    }

    @media (width >= 525px) {
      height: 50px;
    }
  }
}

.auth-link {
  text-decoration: none;
  font-size: clamp(18px, 3vw, 24px);
  font-family: 'Marvel', sans-serif;
  color: #fff;
}

.profile-wrapper {
  position: relative;
  cursor: pointer;
}

.drop-menu {
  position: absolute;
  z-index: 1;

  background-color: rgb(73, 66, 66);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
  max-height: 0px;
  border-radius: 5px;
  overflow: hidden;
  transform: translateX(-30%);

  transition: max-height 0.2s ease;

  &.show {
    max-height: 100px;
  }
}

.drop-menu-item {
  cursor: pointer;
  padding: 5px 0px;
  width: 100%;
  text-align: center;

  &:first-child {
    border-bottom: 1px solid var(--marvel-gray-color);
  }

  &:hover {
    background-color: var(--marvel-gray-color);
  }
}
