.user-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.user-email {
  font-size: clamp(28px, 5vw, 32px);
}

.display-buttons {
  display: flex;
  gap: 60px;
}

.display-button {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;

  &:hover {
    color: #fff;
    background-color: rgb(73, 66, 66);
  }
}

.display-button-input {
  display: none;

  &:checked + .display-button {
    color: #fff;
    background-color: var(--marvel-gray-color);

    &:hover {
      background-color: rgb(73, 66, 66);
    }
  }
}

.favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  justify-content: center;
  gap: 20px;
}

.history:has(> h2) {
  text-align: center;
}

.history-entry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--marvel-gray-color);
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}

.history-query,
.history-entry-date {
  font-size: clamp(18px, 3vw, 24px);
}

.history-entry-date {
  text-align: end;
}

.remove-entry {
  all: unset;
}

.remove-entry-icon,
.history-clock {
  width: clamp(20px, 5vw, 40px);
}

.history-query {
  flex-grow: 1;
}

.history-entry-date,
.history-query-text {
  cursor: text;
}
