.heroes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  justify-content: center;
  gap: 20px;
}

.hero-container {
  position: relative;
  /* background-color: #151515; */
  cursor: pointer;
  width: 140px;
  color: #fff;
  height: 300px;
  overflow: hidden;
  clip-path: circle(135% at 0% 0%);

  display: flex;
  flex-direction: column;
  &:hover {
    .hero-thumbnail {
      scale: 1.1;
    }

    .name-wrapper-curtain {
      height: 160px;
    }
  }
}

.hero-thumbnail {
  scale: 1;
  transition: scale 0.3s;
}

.name-wrapper {
  flex-grow: 1;
  background-color: #151515;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.name-wrapper-curtain {
  position: absolute;
  background-color: #e62429;
  height: 5px;
  width: 100%;

  transition: height 0.3s;
}

.hero-name {
  position: sticky;
  cursor: text;
  margin-left: 10px;
  font-family: 'Marvel', sans-serif;
}

.favorite-check {
  position: sticky;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
}
