.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #151515;
  max-width: 1100px;
  width: 90%;
  height: 50px;
}

.logo {
  cursor: pointer;
  letter-spacing: -4px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #e62429;
  height: 50px;

  font-size: 32px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}
