.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #151515;
  max-width: 1100px;
  width: 75%;
  height: 50px;

  .logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #e62429;
    height: 50px;

    font-family: 'Marvel', sans-serif;
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }
}
