ul,
ol,
li,
a {
  all: unset;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  & > * {
    font-family: 'Roboto Condensed', sans-serif;
  }

  main {
    max-width: 1100px;
    width: 75%;
  }
}

::-webkit-scrollbar {
  /* position: absolute; */
  scrollbar-color: #e62429;
  /* scrollbar-width: 100px; */
  /* z-index: 10; */
}
